<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h6 class="card-title fw-bold h5">{{ chocolate.name }}</h6>
      <button
        (click)="toggleDetails(chocolate.id)"
        class="btn btn-sm ms-auto me-0 pe-0 link-primary"
      >
        Details
        @if (openDetails.includes(chocolate.id)) {
          schließen
        }
      </button>
    </div>
    <div class="card-text d-flex">
      <span class="me-2">Hersteller:</span> {{ chocolate.brand }}
      @if (openDetails.includes(chocolate.id)) {
        Ha Details
      } @else {
        <span class="ms-auto me-2">Günstigster Preis:</span>
        {{ chocolate.prices | showCheapest }} €
      }
    </div>
  </div>
</div>
