<div class="alert alert-info">
  <div class="d-flex justify-content-between align-items-center">
    <div>Prototype</div>
    <div class='ms-auto'>See README.md for details</div>
  </div>
</div>
<div class="container bg-gray px-2">
  <h1 class="text-center mb-4">Chocolate Challenge</h1>

  @if (chocolateData$ | async; as chocolateData) {
    <div class="card">
      @for (chocolate of chocolateData | includeStats ; track chocolate.id) {
        <div class="card-body">
          <app-chocolate [chocolate]="chocolate"></app-chocolate>
        </div>
      }
    </div>
  } @else {
    <!-- TODO: Implement loading spinner in the next development iteration-->
    Loading...
  }

  <!-- TODO: <router-outlet></router-outlet> -->
</div>
